*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media (max-width: 576px) { body {background-color: rgb(206, 217, 255);}
}

@media (max-width: 768px) { body {background-color: rgb(206, 217, 255);}  
}

@media (max-width: 992px) { body {background-color: rgb(206, 217, 255);}
}

@media (min-width: 1200px) { body {background-color: rgb(206, 217, 255);}
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

img.logo {
    display: inline;
    height: 150px;
    width: 150px;
}

header.header { background-color:  #7c94fc;

}

h2{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    margin-top: 2rem;
}

h4{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: left;
    margin-top: 2rem;
}

p.creado {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin: bottom 15px;

}